* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-screen {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 70%;
  margin: 0 auto;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

.header-flex {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.header-flex ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.flex-a {
  padding: 5px;
  font-size: 10px;
}

.img-jumbo img{
  max-width: 100%;
  height: auto;
}

/* sezione card */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background-color: black;
}

.card-img {
  flex-basis: calc((100% - 25px) / 6);
  color: antiquewhite;
}

.card-img img {
  max-width: 100%;
}

/* main content */

.blue-backgroung {
  background-color: blue;
  color: white;
  margin: 0 auto;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
}

.blue-backgroung span{
  text-align: center;
}

.blue-backgroung img {
  max-width: 50px;
  height: auto;
}

.image-background {
  background-image: url(./assets/img/footer-bg.jpg);
  color: white;
  display: flex;
  justify-content: space-between;
}

.image-background h5 {
  font-size: 20px;
}

.image-background a {
  color: white;
}

/* final footer */

.social {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  height: 100px;
}